<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="${path}/resource/html5.js"></script>
<script type="text/javascript" src="${path}/resource/respond.min.js"></script>
<script type="text/javascript" src="${path}/resource/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="${path}/resource/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="${path}/resource/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="${path}/resource/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="${path}/resource/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="${path}/resource/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="${path}/resource/h-ui.admin/css/style.css" />

<script type="text/javascript" src="${path}/resource/jquery/1.9.1/jquery.min.js"></script> 
<!--[if IE 6]>
<script type="text/javascript" src="${path}/resource/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>${title}</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>

<body>
<header class="navbar-wrapper">
		<div class="navbar navbar-fixed-top">
			<div class="container-fluid cl">
				<!-- <img class="logo navbar-logo f-l mr-10" src="${path}/${logo}" width="40" height="40"> -->
				<a class="logo navbar-logo f-l mr-10 hidden-xs" href="${path}/sys/">${title}</a>
				<a class="logo navbar-logo-m f-l mr-10 visible-xs"
					href="#">${title}</a> <a
					aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs"
					href="javascript:;">&#xe667;</a>
				<nav class="nav navbar-nav">
					 <ul class="cl">
					<li><a href="${path}/" target="_blank"><i class="Hui-iconfont Hui-iconfont-home"></i> 平台首页 </a> </li>
					</ul>
				</nav>
				
				<nav id="Hui-userbar"
					class="nav navbar-nav navbar-userbar hidden-xs">
					<ul class="cl">
						<!-- <li>超级管理员</li> -->
						<li class="dropDown dropDown_hover"><a href="#"
							class="dropDown_A">${session.S_USER.account} <i class="Hui-iconfont">&#xe6d5;</i></a>
							<ul class="dropDown-menu menu radius box-shadow">
								<li><a href="javascript:void(0);" id="J_password">修改密码</a></li>
								<li><a href="${path}/account/logout">退出</a></li>
							</ul></li>
						 <li id="Hui-msg"><a href="#" title="消息"><span
								class="badge badge-danger">1</span><i class="Hui-iconfont"
								style="font-size: 18px">&#xe68a;</i></a></li> 
						<li id="Hui-skin" class="dropDown right dropDown_hover"><a
							href="javascript:;" class="dropDown_A" title="换肤"><i
								class="Hui-iconfont" style="font-size: 18px">&#xe62a;</i></a>
							<ul class="dropDown-menu menu radius box-shadow">
								<li><a href="javascript:;" data-val="default"
									title="默认（黑色）">默认（黑色）</a></li>
								<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
								<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
								<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
								<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
								<li><a href="javascript:;" data-val="orange" title="绿色">橙色</a></li>
							</ul></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
<aside class="Hui-aside"> 
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		@for(menu in menuitems){
			<dl id="menu-${menu.id}">
			<dt><i class="Hui-iconfont Hui-iconfont-home"></i> ${menu.text}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					@for(son in menu.items){
						<li><a _href="${path}${son.href}" data-id="${son.id}" data-title="${son.text}" href="javascript:void(0)">${son.text}</a></li>
					@}
					
				</ul>
			</dd>
		</dl>
		@}
		
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active"><span title="我的桌面" data-href="${path}/sys/welcome">我的桌面</span><em></em></li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<div>
			@include("/view/sys/welcome.html"){
			
			@}
    		</div>
		</div>
	</div>
</section>

<div class="page-container" id="J_layer" style="display:none;"> 
		<div class="form form-horizontal">
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-4"><span class="c-red">*</span>原密码</label>
				<div class="formControls col-xs-8 col-sm-7">
					<input type="password" class="input-text"  placeholder="" name="password">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-4"><span class="c-red">*</span>新密码</label>
				<div class="formControls col-xs-8 col-sm-7">
					<input type="password" class="input-text"  placeholder="" name="password1">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-4"><span class="c-red">*</span>重复新密码</label>
				<div class="formControls col-xs-8 col-sm-7">
					<input type="password" class="input-text"  placeholder="" name="password2">
				</div>
			</div>
			<center class="mt-20">
				<button id="J_submit" class="btn btn-primary radius">提交</button>
				<button id="J_close" class="btn btn-default radius">关闭</button>
			</center>
		</div>
</div>

<script type="text/javascript" src="${path}/resource/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="${path}/resource/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="${path}/resource/h-ui.admin/js/H-ui.admin.js"></script> 

<script type="text/javascript">
var r_path = '${path}';
var open = $('a[data-id="${initOpen!}"]');
open.parents('dl').eq(0).find('dt').addClass('selected').siblings().show();
Hui_admin_tab(open[0]);

$(document).ready(function(){
	var index = null;
	$('#J_password').click(function(){
		index = layer.open({
            type: 1,
            title: '修改密码',
            maxmin: false,
            area: ['400px', '300px'],
            content: $('#J_layer')
        });
        //layer.full(index);
	});
	
	$('#J_submit').click(function(){
		var p = $('input[name=password]').val();
		var p1 = $('input[name=password1]').val();
		var p2 = $('input[name=password2]').val();
		
		if(p==''||p1==''||p2==''){
			layer.msg('请全部填写后提交!', {
				icon: 0,
				time: 2000
			});
			
			return;
		}
		
		if(p1!=p2){
			layer.msg('两次新密码不一致,请重新输入!', {
				icon: 0,
				time: 2000
			});
			
			return;
		}
		
		$.post(r_path+'/account/changePassword',{id:'${session.S_USER.id}',p:p,p1:p1,p2:p2},function(res){
			if(res.success){
				layer.msg('密码修改成功!', {
					icon: 1,
					time: 2000
				});
			}else{
				layer.msg(res.msg, {
					icon: 0,
					time: 2000
				});
			}
		});
	});
	
	$('#J_close').click(function(){
		layer.close(index);
	});
});
</script> 
</body>
</html>