 @var htmlPart = {

<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
	人员管理 <span class="c-gray en">&gt;</span> 人员列表 <a
		class="btn btn-success radius r"
		style="line-height: 1.6em; margin-top: 3px"
		href="javascript:location.replace(location.href);" title="刷新"><i
		class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<div class="page-container" style="position:relative;">
	<div class="row">
		<div class="col-md-2 ">
			<td width="200" class="va-t"><ul id="J_tree" class="ztree  bg-1"></ul></td>
		</div>
		<div class="col-md-10">
			<div class="cl pd-5 bg-1 bk-gray">
				<span class="l">
<!-- 				<a href="javascript:;" onclick="datadel()" -->
<!-- 					class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> -->
<!-- 						批量删除</a>  -->
						<button id="J_add"
					class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
						添加</button></span>
				</span>
				<span class="r">
					<input id="J_title" type="text" class="input-text" style="width:150px;"
					placeholder="输入关键字" id="" name="">
				<button id="J_query" type="button" title="模糊查询" class="btn btn-success radius" id="" name="">
					<i class="Hui-iconfont">&#xe665;</i>
				</button>
<!-- 				<button type="button" title="更多搜索" class="btn btn-primary radius" id="" name=""> -->
<!-- 					<i class="Hui-iconfont">&#xe6d5;</i> -->
<!-- 				</button> -->
				</span>
			</div>
			<div class="mt-10">
				<table
					class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="20"><input type="checkbox" name="cb-check-all" value=""></th>
							<th width="40">编号</th>
							<th width="80">姓名</th>
							<th width="80">账号</th>
							<th width="80">状态</th>
							<th width="80">角色</th>
							<th width="80">部门</th>
							<th width="100">手机</th>
							<th width="140">备注</th>
							<th>操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>



<div class="page-container" id="J_layer" style="display:none;"> 
<form  action="" method="post" class="form form-horizontal" id="J_form">
		<input type="hidden" value="" name="id" id="J_userid">
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>所属部门：</label>
				<div class="formControls col-xs-8 col-sm-9" style="position:relative;" id="J_treeCombo">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2" ><span class="c-red">*</span>账号</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text"   placeholder="" name="login_name" id="J_loginname">
				</div>
			</div>
			
			<div class="row cl">
			<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>姓名</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="name">
			</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>密码</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="password" class="input-text"  placeholder="" name="password">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>状态</label>
				<div class="formControls col-xs-8 col-sm-9">
					 <span class="select-box">
						 <select class="select" size="1" name="status" value="" id="J_user_status">
								    <option value="1" selected="selected">正常</option>
								  	<option value="0">停用</option>
						</select>
					</span>
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>角色</label>
				<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					 <select class="select" size="1" name="role_id" value="" id="J_user_role">
					 			@for(role in roles){
					 				<option value="${role.id}">${role.name}</option>
					 			@}
							    
					</select>
				</span>
				</div>
			</div>
			
			
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">手机号</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text"  placeholder="" name="phone">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">备注：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<textarea name="remark" cols="" rows="" class="textarea"  placeholder="" onKeyUp="textarealength(this,100)"></textarea>
					<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
				</div>
			</div>
		
		<center class="mt-20">
			<button id="J_submit" type="button" class="btn btn-primary radius">保存</button>
			<button id="J_close" class="btn btn-default radius">关闭</button>
		</center>
	</form>
			
	</div>
	
	<div class="page-container" id="J_review" style="display:none;"> 
		<form class="form form-horizontal">
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">企业信息</label>
				<div class="formControls col-xs-8 col-sm-9">
					<div class="radio-box">
				    	<input type="radio" name="v_company" id="J_company1" value="0">
				    	<label for="J_company1">未完善</label>
				   </div>
				   <div class="radio-box">
				    	<input type="radio" name="v_company" id="J_company2" value="1">
				    	<label for="J_company2">审核中</label>
				   </div>
				   <div class="radio-box">
				    	<input type="radio" name="v_company" id="J_company3" value="2">
				    	<label for="J_company3">审核通过</label>
				   </div>
				</div>
			</div>
			
			<div class="row cl mt-10">
				<label class="form-label col-xs-3 col-sm-2">会员费</label>
				<div class="formControls col-xs-8 col-sm-9">
					<div class="radio-box">
				    	<input type="radio" name="v_card" id="J_card1" value="0">
				    	<label for="J_card1">未缴费</label>
				   </div>
				   <div class="radio-box">
				    	<input type="radio" name="v_card" id="J_card2" value="1">
				    	<label for="J_card2">审核中</label>
				   </div>
				   <div class="radio-box">
				    	<input type="radio" name="v_card" id="J_card3" value="2">
				    	<label for="J_card3">审核通过</label>
				   </div>
				</div>
			</div>
			
			<div class="row cl mt-10">
				<label class="form-label col-xs-3 col-sm-2">会员类型</label>
				<div class="formControls col-xs-8 col-sm-9">
					<div class="radio-box">
				    		<input type="radio" name="card_id" id="J_cardtype0" value="0">
				    		<label for="J_cardtype0">未选择</label>
				   	</div>
				   	
					@for(card in cards){
						<div class="radio-box">
				    		<input type="radio" name="card_id" id="J_cardtype${cardLP.index}" value="${card.id}">
				    		<label for="J_cardtype${cardLP.index}">${card.name}</label>
				   		</div>
					@}
				</div>
			</div>
			
			<div class="row cl mt-10">
				<label class="form-label col-xs-3 col-sm-2">会员期限</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" name="card_begin" onfocus="WdatePicker()" id="J_cardbegin" class="input-text Wdate" style="width:120px;">
					-
					<input type="text" name="card_end" onfocus="WdatePicker()" id="J_cardend" class="input-text Wdate" style="width:120px;">
				</div>
			</div>
			
		</form>
	</div>
@};
 
@var jsPart = {
	<link rel="stylesheet" href="${path}/resource/webuploader/0.1.5/webuploader.css">
	<script type="text/javascript" src="${path}/resource/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
	<script type="text/javascript" src="${path}/resource/jquery.validation/1.14.0/validate-methods.js"></script> 
	<script type="text/javascript" src="${path}/resource/jquery.validation/1.14.0/messages_zh.min.js"></script> 
	<script type="text/javascript" src="${path}/resource/jquery.form/jquery.form.js"></script> 
	<script type="text/javascript" src="${path}/resource/My97DatePicker/WdatePicker.js"></script> 
	<script type="text/javascript" src="${path}/js/jquery.formHelp.js"></script> 
	<script type="text/javascript" src="${path}/resource/webuploader/0.1.5/webuploader.min.js"></script>
	<script type="text/javascript" src="${path}/view/sys/TreeCombo.js"></script> 
	<script type="text/javascript" src="${path}/view/sys/user.js"></script> 
@};
 
@include("/view/sys/_layout.html",{jsSection:jsPart,htmlSection:htmlPart}){}
